@import "https://fonts.googleapis.com/css?family=Bangers|Neucha";
* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-backface-visibility: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-appearance: none;
    box-sizing: border-box
}

html {
    font-size: 62.5%
}

html,
body {
    height: 100%;
    color: #fff
}

body {
    font-size: 1.8rem;
    font-family: 'Neucha', cursive, Arial, sans-serif;
    background: rgba(0, 0, 0, .6) url(../images/casual/bg.jpg) no-repeat center top;
    background-size: cover !important;
    background-attachment: fixed !important;
    /* min-height: 66rem */
}

a {
    text-decoration: none
}

.hidden {
    display: none !important
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
    animation-play-state: paused !important
}

.loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #000
}

.js-loading .loader {
    display: block
}

.loader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    z-index: 1001;
    width: 40rem;
    height: 40rem
}

.loader .pie {
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    position: absolute;
    background: #1a1a1a;
    border: .5rem solid rgba(0, 0, 0, 0.5)
}

.loader .spinner {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    z-index: 200;
    border-right: none;
    animation: rota 1s linear infinite;
    animation-iteration-count: 3;
    animation-play-state: running !important
}

.loader .filler {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    left: 50%;
    opacity: 0;
    z-index: 100;
    animation: opa 1s steps(1, end) infinite reverse;
    border-left: none;
    animation-iteration-count: 3;
    animation-play-state: running !important
}

.loader .mask {
    width: 50%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: 1;
    z-index: 300;
    animation: opa 1s steps(1, end) infinite;
    animation-iteration-count: 3;
    animation-play-state: running !important
}

@keyframes rota {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes opa {
    0% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: 0;
    }
}

.countdown-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10rem;
    z-index: 1002
}

.countdown-wrapper::after,
.countdown-wrapper::before {
    content: "";
    width: 100%;
    height: .6rem;
    margin-top: -.3rem;
    background: #222;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1
}

.countdown-wrapper::after {
    transform: rotate(-90deg)
}

.countdown {
    position: relative;
    font-family: 'Bangers';
    font-size: 10rem;
    width: 20rem;
    height: 20rem;
    line-height: 20rem;
    color: #ccc
}

.countdown::after,
.countdown::before {
    content: "";
    box-shadow: inset 0 0 0 .5rem #666;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.countdown::before {
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.countdown>div {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    animation-name: fadeIn;
    animation-duration: 900ms;
    animation-fill-mode: none;
    animation-play-state: running !important
}

.countdown-1,
.countdown-2,
.countdown-3 {
    opacity: 0
}

.countdown-1 {
    animation-delay: 0s
}

.countdown-2 {
    animation-delay: 1s
}

.countdown-3 {
    animation-delay: 2s
}

@-webkit-keyframes bounceInRight {
    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(300rem, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-2.5rem, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(.1rem, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-.5rem, 0, 0);
    }
    to {}
}

@keyframes bounceInRight {
    0%,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(300rem, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-2.5rem, 0, 0);
    }
    75% {
        transform: translate3d(.1rem, 0, 0);
    }
    90% {
        transform: translate3d(-.5rem, 0, 0);
    }
    to {}
}

.wrapper {
    position: relative;
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 25px;
}

.photos {
    display: inline-block;
    overflow: hidden;
    margin: -3rem auto 0;
    padding-left: 6.5rem;
    padding-right: 1.5rem;
    max-height: 59rem
}

.photos-blured {
    -webkit-filter: blur(.5rem);
    -ms-filter: blur(.5rem);
    filter: blur(.5rem);
    transition: filter 0.25s ease-in-out, -webkit-filter 0.25s ease-in-out
}

.photos-blured .photo {
    pointer-events: none
}

.photo {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    display: inline-block;
    margin: 4rem 1rem;
    background: #c9c9c9 url(../images/casual/photos.jpg) 0 0 no-repeat;
    background-size: 188rem auto;
    width: 18.8rem;
    height: 49.5rem;
    margin-left: -3rem;
    cursor: pointer;
    border-radius: 1.5rem;
    box-shadow: 0 0 3rem #000;
    border: solid .7rem #fff
}

.photos .photo {
    -webkit-animation-name: bounceInRight;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-name: bounceInRight;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both
}

.photos-dating {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.photo-selected {
    position: absolute;
    top: 0;
    margin: 0;
    background-size: 220rem auto;
    width: 22rem;
    height: 57.9rem;
    z-index: 20;
    animation: none;
    pointer-events: none;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards
}

.photo-selected.left-to-right {
    animation-name: showPhoto_LeftToRight
}

.photo-selected.right-to-left {
    animation-name: showPhoto_RightToLeft
}

@keyframes showPhoto {
    0% {}
    100% {
        opacity: 1;
        left: 50%;
        transform: translateX(-50%) rotate(-7deg);
    }
}

@keyframes showPhoto_LeftToRight {
    0% {}
    100% {
        opacity: 1;
        left: 50%;
        margin-left: -11.5rem;
        transform: translateX(-50%) rotate(-7deg);
    }
}

@keyframes showPhoto_RightToLeft {
    0% {}
    100% {
        opacity: 1;
        left: 50%;
        margin-left: 11.5rem;
        transform: translateX(-50%) rotate(7deg);
    }
}

.photo:hover {
    z-index: 10;
    transform: scale(1.1) !important;
    -o-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    -webkit-transform: scale(1.1) !important
}

.photos .photo-1 {
    background-position: 0 0;
    animation-delay: 0s
}

.photos .photo-2 {
    background-position: -18.8rem 0;
    animation-delay: .2s
}

.photos-dating .photo.photo-selected {
    width: 22rem;
}

.photos-dating .photo-2.photo-selected {
    background-position: -22rem 0
}

.photos .photo-3 {
    background-position: -37.6rem 0;
    animation-delay: .4s
}

.photos-dating .photo-3.photo-selected {
    background-position: -44rem 0
}

.photos .photo-4 {
    background-position: -56.4rem 0;
    animation-delay: .6s
}

.photos-dating .photo-4.photo-selected {
    background-position: -66rem 0
}

.photos .photo-5 {
    background-position: -75.2rem 0;
    animation-delay: .8s
}

.photos-dating .photo-5.photo-selected {
    background-position: -88rem 0
}

.photos .photo-6 {
    background-position: -94rem 0;
    animation-delay: 1s
}

.photos-dating .photo-6.photo-selected {
    background-position: -110rem 0
}

.photos .photo-7 {
    background-position: -112.8rem 0;
    animation-delay: 1.2s
}

.photos-dating .photo-7.photo-selected {
    background-position: -132rem 0
}

.photos .photo-8 {
    background-position: -131.6rem 0;
    animation-delay: 1.4s
}

.photos-dating .photo-8.photo-selected {
    background-position: -154rem 0
}

.photos .photo-9 {
    background-position: -150.4rem 0;
    animation-delay: 1.6s
}

.photos-dating .photo-9.photo-selected {
    background-position: -176rem 0
}

.photos .photo-10 {
    background-position: -169.2rem 0;
    animation-delay: 1.8s
}

.photos-dating .photo-10.photo-selected {
    background-position: -198rem 0
}

@keyframes batmanFly_LeftToRight {
    0% {}
    100% {
        top: 0;
        left: 50%;
        margin-left: -11.5rem;
        transform: translateX(-50%) rotate(-7deg);
    }
}

@keyframes batmanFly_RightToLeft {
    0% {}
    100% {
        top: 0;
        left: 50%;
        margin-left: 11.5rem;
        transform: translateX(-50%) rotate(7deg);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    60%,
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0%,
    10% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.batman {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    left: 14rem;
    top: 100%;
    transform: translateY(-100%);
    pointer-events: none;
    animation-duration: 1s, 1s;
    animation-fill-mode: forwards
}

.batman.flying {
    animation-duration: 1s, 1s;
    animation-fill-mode: forwards
}

.batman-1 {
    background: url(../images/casual/batman.png) 0 0 no-repeat;
    background-size: 62.5rem 58.4rem;
    width: 62.5rem;
    height: 58.4rem;
    opacity: 1;
    z-index: 21
}

.batman-2 {
    background: url(../images/casual/batman2.jpg) 0 0 no-repeat;
    background-size: 22.1rem 58.2rem;
    width: 22.1rem;
    height: 58.2rem;
    opacity: 0;
    border-radius: 1.5rem;
    box-shadow: 0 0 3rem #000;
    border: solid .7rem #fff;
    z-index: 22
}

.batman.flying.batman-1 {
    animation-duration: 1s, 1s;
    animation-name: batmanFly, fadeOut
}

.batman.flying.batman-2 {
    animation-duration: 1s, 1s;
    animation-name: batmanFly, fadeIn
}

.batman-1.left-to-right {
    animation-name: batmanFly_LeftToRight, fadeOut
}

.batman-2.left-to-right {
    animation-name: batmanFly_LeftToRight, fadeIn
}

.batman-1.right-to-left {
    animation-name: batmanFly_RightToLeft, fadeOut
}

.batman-2.right-to-left {
    animation-name: batmanFly_RightToLeft, fadeIn
}

.batman-text {
    font-family: 'Bangers', cursive, Arial, sans-serif;
    font-size: 9.4rem
}

.batman-1 .batman-text {
    padding-top: 22.5rem;
    padding-left: 26rem;
    text-align: left
}

.batman-2 .batman-text {
    padding-top: 8.5rem;
    padding-left: 4rem;
    text-align: center
}

@keyframes vs {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.vs {
    position: absolute;
    top: 39rem;
    left: 50%;
    z-index: 30;
    margin-left: -10.9rem;
    background: url(../images/vs.png) 0 0 no-repeat;
    background-size: 21.8rem 21.4rem;
    width: 21.8rem;
    height: 21.4rem;
    transform: scale(0)
}

.vs.active {
    animation-name: vs;
    animation-duration: 1s;
    animation-fill-mode: forwards
}

.slogan {
    position: absolute;
    left: 72rem;
    bottom: 5.5rem;
    font-family: 'Bangers', cursive, Arial, sans-serif;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    pointer-events: none
}

.slogan.hide {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards
}

.slogan-1 {
    display: block;
    /* font-size: 21.4rem; */
    font-size: 18rem;
    line-height: 1.2;
}

.slogan-2,
.slogan-3 {
    display: inline-block;
    /* font-size: 18rem; */
    font-size: 13rem;
    line-height: 1.2;
}

.slogan-1 {
    color: #000;
    text-shadow: -.9rem -.9rem 0 #f6a20e, .9rem -.9rem 0 #f6a20e, -.9rem .9rem 0 #f6a20e, .9rem .9rem 0 #f6a20e
}

.slogan-2 {
    color: #ffbd00;
    text-shadow: .7rem .4rem 0 #d83233
}

.slogan-3 {
    padding-left: 3rem;
    color: #d83233;
    text-shadow: .7rem .4rem 0 #ffbd00
}

.steps-wrapper {
    position: relative;
    z-index: 30;
    display: none;
    opacity: 0;
    color: #000
}

.steps-wrapper.active {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards
}

.steps-wrapper a {
    color: #000;
    text-decoration: none
}

.step {
    margin: 5rem 0 1rem;
    display: none
}

.step.showing {
    display: block
}

.question-wrapper {
    display: inline-block;
    position: relative;
    padding: 2rem;
    max-width: 70rem;
    border-radius: 1rem;
    background: #fff;
    border: .4rem solid #000;
    box-shadow: 0 0 1.9rem rgba(0, 0, 0, .61)
}

.question-counter {
    position: absolute;
    top: -2.2rem;
    left: -2.2rem;
    width: 4.4rem;
    height: 4.4rem;
    line-height: 4.4rem;
    font-size: 2.1rem;
    text-align: center;
    border-radius: 50%;
    background-color: #ffbd00;
    box-shadow: inset 0 0 0 .4rem #000
}

.question {
    color: #000;
    font-size: 3rem;
    line-height: 1
}

.answers-wrapper {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
    padding-left: 4rem
}

.step_6 .answers-wrapper {
    padding-left: 0;
}

@keyframes fadeIn {
    0%,
    10% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.step-answer {
    position: relative;
    display: inline-block;
    max-width: 33.6rem;
    min-width: 22rem;
    margin: 1.5rem 2rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 1.9rem rgba(0, 0, 0, .61);
    border: solid .4rem #000;
    border-radius: 1rem;
    font-size: 2.5rem;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s linear;
    opacity: 0;
    animation-duration: 1s;
    animation-name: fadeIn;
    animation-fill-mode: forwards
}

.step-answer:hover {
    background-color: #ffdd80
}

.step-answer:active {
    background-color: #dca300
}

.step-answer:nth-of-type(1) {
    animation-delay: 0ms
}

.step-answer:nth-of-type(2) {
    animation-delay: 300ms
}

.step-answer:nth-of-type(3) {
    animation-delay: 600ms
}

.step-answer:nth-of-type(4) {
    animation-delay: 900ms
}

.step-answer:nth-of-type(5) {
    animation-delay: 1200ms
}

.step-answer:nth-of-type(6) {
    animation-delay: 1500ms
}

.question::after,
.question::before {
    bottom: 99.6%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.question::after {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #fff;
    border-width: 2rem;
    margin-left: -2rem
}

.question::before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #000;
    border-width: 2.6rem;
    margin-left: -2.6rem
}

.step_1 .question::after,
.step_1 .question::before {
    left: 60%
}

.step_1 .step-answer:nth-of-type(1) {
    transform: rotate(-5deg);
    min-width: 28.5rem
}

.step_1 .step-answer:nth-of-type(2) {
    transform: rotate(2deg);
    min-width: 28.5rem
}

.step_1 .step-answer:nth-of-type(3) {
    transform: rotate(3deg);
    min-width: 25.5rem
}

.step_1 .step-answer:nth-of-type(4) {
    transform: rotate(6deg);
    min-width: 17.5rem
}

.step_1 .step-answer:nth-of-type(5) {
    transform: rotate(-8deg);
    min-width: 21.5rem
}

.step_1 .step-answer:nth-of-type(6) {
    transform: rotate(0deg);
    min-width: 39.5rem
}

.step_2 .question::after,
.step_2 .question::before {
    left: 50%
}

.step_2 .step-answer {
    max-width: none;
    margin: .5rem 2rem
}

.step_2 .step-answer:nth-of-type(1) {
    transform: rotate(-2deg)
}

.step_2 .step-answer:nth-of-type(2) {
    transform: rotate(0deg)
}

.step_2 .step-answer:nth-of-type(3) {
    transform: rotate(-1deg)
}

.step_2 .step-answer:nth-of-type(4) {
    transform: rotate(1deg)
}

.step_2 .step-answer:nth-of-type(5) {
    transform: rotate(-1deg)
}

.step_3 .question::after,
.step_3 .question::before {
    left: 70%
}

.step_3 .step-answer:nth-of-type(1) {
    transform: rotate(-8deg);
    margin-top: 8rem
}

.step_3 .step-answer:nth-of-type(2) {
    transform: rotate(6deg);
    min-width: 17rem;
    margin-right: 15rem;
    top: -2rem
}

.step_3 .step-answer:nth-of-type(3) {
    transform: rotate(2deg);
    min-width: 12.5rem;
    margin-right: 10rem;
    left: -7.5rem;
    margin-top: 2.5rem
}

.step_3 .step-answer:nth-of-type(4) {
    transform: rotate(-20deg);
    min-width: 16rem;
    top: -3rem
}

.step_3 .step-answer:nth-of-type(5) {
    transform: rotate(11deg);
    min-width: 26rem;
    margin-left: 10rem;
    top: -2rem
}

.step_4 .question::after,
.step_4 .question::before {
    left: 85%
}

.step_4 .step-answer {
    max-width: none;
    margin: 1.3rem 2rem
}

.step_4 .step-answer:nth-of-type(1) {
    transform: rotate(2deg)
}

.step_4 .step-answer:nth-of-type(2) {
    transform: rotate(-2deg)
}

.step_4 .step-answer:nth-of-type(3) {
    transform: rotate(2deg)
}

.step_4 .step-answer:nth-of-type(4) {
    transform: rotate(-2deg)
}

.step_5 .question::after,
.step_5 .question::before {
    left: 65%
}

.step_5 .step-answer {
    min-width: 10rem
}

.step_6 .question::after,
.step_6 .question::before {
    left: 17%
}

.step_6 .step-answer {
    min-width: 10rem
}

.step_7 .question::after,
.step_7 .question::before {
    left: 90%
}

.step_7 .answers-wrapper {
    padding-left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.step_7 .step-answer {
    max-width: 15rem;
    min-width: 13rem
}

.step_7 .step-answer:nth-of-type(1) {
    transform: rotate(2deg);
    margin-left: 0
}

.step_7 .step-answer:nth-of-type(2) {
    transform: rotate(-2deg)
}

.step_7 .step-answer:nth-of-type(3) {
    transform: rotate(2deg)
}

.step_7 .step-answer:nth-of-type(4) {
    transform: rotate(-2deg);
    margin-right: 0
}

/* Style Alt3 Photo */

.photos_alt3 .photo {
    background-image: url(../images/casual/photos_alt3.jpg);
}

/* Asian */

.asian_style .batman-text {
    font-size: 4.4rem;
}

.asian_style .batman.batman-2 {
    font-size: 4rem;
}

.asian_style {
    background: rgba(0, 0, 0, .6) url(../images/bg_asian.jpg) no-repeat center top;
}

.asian_style .photo {
    background-image: url(../images/photos_asian.jpg);
}

/* RTL */

.site-lang-he {
    direction: rtl;
}

@media screen and (min-width: 1200px) {
    .site-lang-ru .batman-text,
    .site-lang-el .batman-text {
        font-size: 8rem;
    }
    .site-lang-ru .batman-2 .batman-text,
    .site-lang-el .batman-2 .batman-text {
        font-size: 6rem;
        padding-top: 11.5rem;
        padding-left: 2rem;
    }
}

/* Screen 736px */

@media (max-width: 767px) {
    .batman-1 .batman-text {
        padding-top: 21.5rem;
        padding-left: 28.5rem;
    }
    .batman-2 .batman-text {
        padding-top: 9.5rem;
    }
    .photos {
        display: block;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    html {
        font-size: 43.75%
    }
}

@media screen and (max-width: 1199px) {
    html {
        font-size: 31.25%
    }
    .wrapper::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0));
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0));
        z-index: -1;
        pointer-events: none
    }
    .photos {
        padding: 0;
        white-space: nowrap
    }
    .batman {
        left: -20rem
    }
    .slogan {
        left: auto;
        right: -6rem;
        bottom: 5rem;
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
        line-height: 0.9;
        z-index: 25;
        max-width: 50rem
    }
    .slogan-1 {
        font-size: 13rem
    }
    .slogan-2,
    .slogan-3 {
        font-size: 10rem
    }
    .question-wrapper {
        margin-left: 3rem;
        margin-right: 3rem
    }
    .step_7 .step-answer {
        min-width: 12rem
    }
    .step_7 .answers-wrapper {
        margin: 0 2rem
    }
    .multilang .slogan {
        right: -3rem;
    }
    .multilang .slogan-1 {
        font-size: 10rem;
    }
    .multilang .slogan-2,
    .multilang .slogan-3 {
        font-size: 8rem;
    }
}

/* Portrait for all phone */

/* Screen 320px */

@media (max-width: 479px) {
    .photo {
        display: none;
        /* width: 17.5rem; */
        width: 25%;
        margin-left: 0;
        margin-right: -1rem;
    }
    .photo:nth-child(1),
    .photo:nth-child(2),
    .photo:nth-child(3),
    .photo:nth-child(4) {
        display: inline-block;
    }
    .photo:nth-child(4) {
        margin-right: 0;
    }
    .slogan {
        bottom: 20rem;
    }
}

@media (max-width: 380px) and (orientation:portrait) {
    .photo {
        /* width: 16rem; */
    }
}

@media (max-width: 325px) and (orientation:portrait) {
    .slogan {
        bottom: 13rem;
    }
    .photo {
        /* width: 13.5rem; */
    }
}

/* Unsubscribe */

.unsubscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 100;
    height: 32px;
    margin-top: -32px;
}

.unsubscribe a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.unsubscribe a:hover {
    text-decoration: underline;
}